{% extends "layout.html" %}

{% block content %}

<script type="text/javascript">
/* Define startswith for String */
if (typeof String.prototype.startsWith != 'function') {
  // see below for better implementation!
  String.prototype.startsWith = function (str){
    return this.indexOf(str) == 0;
  };
}

$(document).ready(function() {
  $(".build").click(function() {
      $("#error").hide("fast");
      $("#error").html("");

      $("#info").hide("fast");
      $("#info").html("");

      $.getJSON($SCRIPT_ROOT + '/build/' + $(this).attr("id"),
                function(response) {
                  if (response['status'] != 'success') {
                    $("#error").html('<em>' +
                                     response["message"] + '</em>');
                    $("#error").show("slow");
                  } else {
                    $("#info").html(response["data"]["info"])
                    $("#info").show("slow");
                  }
                });
      update_status();
  });

  $("#error").click(function() {
    $(this).slideUp();
  });

  $("#info").click(function() {
    $(this).slideUp();
  });


  $("[id^=status]").click(function() {
      var nr = $(this).attr("data-nr");
      $.getJSON($SCRIPT_ROOT + '/status/' + nr, function(status) {
          var html = '';
          $.each((status["build_output"] + "\n").split("\n"),
                 function(nr, value) {
                   value = $.trim(value);
                   if (!value) return;

                   if (m = value.match('^\\[(.)] (.*)')) {

                     if (m[1] == 'X') {
                       html += '<span class="output-error">' + m[2] + '</span><br/>';
                     } else {
                       html += '<span class="output-info">&bull; ' + m[2] + '</span><br/>';
                     }

                   } else {
                     html += value + "<br/>";
                   }
                 });
          $("#output_" + nr).html(html).toggle()
      });
  });

});

function update_status() {
    $.getJSON($SCRIPT_ROOT + '/status', function(data) {
        $.each(data, function(key, response) {
            var status = response["data"];
            if (("build_timestamp" in status) && ("build_status" in status)) {
              $("#status_" + key).text(status["build_timestamp"] + ' ' +
                                       status["build_status"]);
            } else {
              $("#status_" + key).text("No build info");
            }
            if (status["build_status"] == "success") {
                $("#download_" + key).show();
            } else {
                $("#download_" + key).hide();
            }
        });
    });
}

$(document).ready(function() {
    update_status();
    setInterval(update_status, 10000);
});

</script>

<style>
.download { display: none; }
.output { display: none; }
</style>

<div id="error">
  <p></p>
</div>

<div id="info">
  <p></p>
</div>


<div class="paper_list">
{% for n, p in papers %}
<div class="paper">

  [

  <span class="download" id="download_{{ n }}">
    <a href="{{ download_url + n }}">View PDF</a>
  </span>

  <a href="#" id="status_{{ n }}" data-nr="{{ n }}"></a>

  ]

  <a href="{{ p['url'] }}">{{ p['title'].replace('Paper: ', '') }}</a> by <a
  href="{{ 'http://github.com/%s' % p['user'] }}">{{ p['user'] }}</a>

  <a href="#" class="build" id="{{n}}">
    <img src="{{ url_for('static', filename='refresh-icon.png') }}"
         height="20px"/>
  </a>

  <div class="output" id="output_{{ n }}">
    Output
  </div>

</div>
{% endfor %}
</div>


{% endblock %}
