language: python

python:
  - 3.6
install: 
  - pip install --upgrade setuptools pip  
  - pip install -r requirements.txt
  - pip install -r <(curl --silent https://raw.githubusercontent.com/scipy-conference/scipy_proceedings/2019/requirements.txt)
script:
  - pytest

  
