body {
    font-family: 'Open Sans', sans-serif;
}

.paper {
    border: 1px solid #3333CC;
    background: #EBF5FF;
    color: #003366;
    padding: 0.5em;
    margin: 0.3em;
}

a {
    color: #6B246B;
    text-decoration: none;
}

a:hover {
  background: #E6E6E6;
}

.build {
  font-weight: bold;
  float: right;
}

.output {
  font-size: 80%;
}

.output-error {
  font-weight: bold;
  font-color: red;
  font-size: 120%;
}

.output-info {
  font-weight: bold;
  font-size: 120%;
}

.download {
  font-weight: bold;
}

#footer {
    text-align: right;
    font-size: 0.75em;
}
