{% extends "layout.html" %}

{% block content %}


<script type="text/javascript">
$(document).ready(function() {
  $(".build").click(function() {
      $.getJSON($SCRIPT_ROOT + '/build/' + $(this).attr("id"));
      update_status();
  });

  $("[id^=status]").click(function() {
      var nr = $(this).attr("data-nr");
      $.getJSON($SCRIPT_ROOT + '/status/' + nr, function(status) {
          $("#output_" + nr).html('<pre>' + status["build_output"] + '</pre>').toggle()
      });
  });

});

function update_status() {
    $.getJSON($SCRIPT_ROOT + '/status', function(data) {
        $.each(data, function(key, status) {
            $("#status_" + key).text(status['build_timestamp'] + ' ' + status['build_status']);
            if (status['build_status'] == 'success') {
                $("#download_" + key).show();
            } else {
                $("#download_" + key).hide();
            }
        });
    });
}

$(document).ready(function() {
    update_status();
    setInterval(update_status, 10000);
});

</script>

<style>
.download { display: none; }
.output { display: none; }
</style>

<div class="paper_list">
{% for n, p in papers %}
<div class="paper">

  [

  <span class="download" id="download_{{ n }}">
    <a href="{{ download_url + n }}">View PDF</a>
  </span>

  <a href="#" id="status_{{ n }}" data-nr="{{ n }}"></a>

  ]

  <a href="{{ p['url'] }}">{{ p['title'].replace('Paper: ', '') }}</a> by <a
  href="{{ 'http://github.com/%s' % p['user'] }}">{{ p['user'] }}</a>

  <a href="#" class="build" id="{{n}}">[Rebuild]</a>

  <div class="output" id="output_{{ n }}">
    Output
  </div>

</div>
{% endfor %}
</div>


{% endblock %}
